/.actionScriptProperties
/.externalToolBuilders/com.adobe.flexbuilder.project.apollobuilder.launch
/.externalToolBuilders/com.adobe.flexbuilder.project.flexbuilder (1).launch
/.externalToolBuilders/redbean_betalib.launch
/.project
/.settings/org.eclipse.core.resources.prefs
/betalib.abc
